$background: #E2E2E2;
$white: #FFFFFF;
$white--elevated: #F1F1F1;
$black: #000000;
$black--icon: rgb($black, 70%);
$CTA--primary: #42BFDD;
$CTA--primary--darker: darken($CTA--primary, 10%);
$CTA--secondary: #084B83;
$CTA--secondary--darker: darken($CTA--secondary, 5%)