@import './app.scss','./variables/colors','./variables/elevations';
.palette {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: $background;
    border-radius: 8px;
    box-shadow: $el-2;
    position: absolute;
    width: 30%;
    top: 120%;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 70px;
    align-content: center;
    justify-content: space-around;
    padding: 0 5px;
    &__type {
        display: flex;
        .type__button {
            background-color: transparent;
            outline: none;
            border: none;
            border-radius: 20em;
            padding: 0px 0px;
            background-color: darken($background, 10%);
            margin: 0 auto 10px auto;
            padding: 3px 0;
            // height:100%;
            .button__switch {
                border-radius: 20em;
                padding: 3px 8px;
                &--active {
                    background-color: DarkCyan;
                    border-radius: 20em;
                    padding: 3px 8px;
                    color: white;
                }
            }
        }
    }
    &__colors {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        align-content: center;
        justify-content: space-around;
        padding: 0 5px;
        .colors__swatch {
            border-radius: 100em;
            width: 12%;
            aspect-ratio: 1/1;
            border: none;
            &:hover {
                // outline: rgba(aqua,0.3);
                // outline-width: 4px;
                // outline-style: solid;
                box-shadow:inset 0 0 0 500px rgba(0,0,0,0.2);
            }
            &--red {
                background-color: red;
            }
            &--yellow {
                background-color: yellow;
            }
            &--green {
                background-color: green;
            }
            &--blue {
                background-color: blue;
            }
            &--white {
                background-color: white;
            }
            &--black {
                background-color: black;
                &:hover {
                    background-color: lighten(black, 25%);
                }
            }
        }
    }
}